{% extends "ingredient_app/base.html" %}
{% block title %}Search for Ingredients{% endblock %}
{% block content %}

<div class="container" style="width: 60%;">
    <h1>Get Information About Ingredients</h1>

    <form method="GET">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="row">
            <div class="col-sm-6">
                    <input class="form-control" type="search" name="product_name_input" placeholder="Type product name..." required>
            </div>
            <div class="col-sm-3">
                <input class="form-control"  type="number" min="1" name="product_amount_input" placeholder="Amount" required>
            </div>
            <div class="col-sm-3">
                <select class="form-select" name="product_unit_input" aria-label="Default" required>
                    <option selected>Units...</option>
                    {% for unit in unit_list %}
                    <option value="{{ unit }}">{{ unit }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <input type="submit" value="Submit" class="btn btn-primary my-2">
            </div>
        </div>
    </form>

    <br>
    <!-- API request error message -->
    {% if messages %}
        {% for message in messages %}
        <div class="row justify-content-center">
            <div class="alert alert-danger col-md-6 text-center mt-1" role="alert">
                {{ message }}
            </div>
        </div>
        {% endfor %}
    {% endif %}
    <!-- Form ChoiceField error message -->
    {% if form.product_amount.errors %}
        {% for error in form.product_amount.errors %}
        <div class="row justify-content-center">
            <div class="alert alert-danger col-md-6 text-center mt-1" role="alert">
                {{ error }}
            </div>
        </div>
        {% endfor %}
    {% endif %}    
</div> <!-- container end -->

{% endblock content %}